{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block register_user %}


<div class="container">
    <div class="row text-center" style="margin-top: 7%">

        <div class="col-12 col-md-8 offset-md-2 p-4 shadow-lg">
            <h1>Register your account</h1>
            <p class="text-secondary mt-2"> Let's start the party...</p>
    
            <form method='POST'>
                {% csrf_token %}
                {{ user_form|crispy }}
                <button type="submit" class = "btn btn-primary">Register</button>
            </form>
        
        </div>
    </div>
</div>
    

{% endblock %}




