{% extends "base.html" %}

{% block title %} Logowanie {% endblock %}

    <p> {{user.username}} </p>
{% block page %}
    <h1> Logowanie </h1>
    {% if form.errors %}
    <p>
        The name of user or password are incorrect
        Please, try again.
    </p>
    {% else %}
    <p> Please, fill below forms to login:</p> 
    {% endif %}
    <div class= "login-form">
        <form method = "post">
            {{ form.as_p }}
            {% csrf_token %}
            {% comment %} <input type = "hidden" name ="next" value ="{{next}}"/> {% endcomment %}
            {% comment %} <a href="{% url "add_event" %}" class="btn btn-primary" type="submit">Log in </a> {% endcomment %}
            <button type="submit">Ok</button>
            {% comment %} <button type="submit"><a href="{% url "add_event" %}">Log in </a></button> {% endcomment %}
        </form>
    </div>
{% endblock %}



